@media only screen and (max-width: 585px) {
    .parent-quotes {
        width: 100%!important;        
    }
}


body {
    font-family: 'Kalam';    
}

.header {
    height: 400px!important;
    background-image: url(../img/bg.jpg);
    background-size: 100% 100%;
    box-sizing: border-box;
    margin-top: 55px;
    padding-top: 50px;
    position: relative;
}


.parent-quotes {    
    z-index: 2;
    width: 550px;
    height: 200px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: 1.4em;
}

/* SEARCH BAR */
.wrap-search {
    width: 80%;
    margin: auto;
    border: 1px solid #ccc;
    padding: 5px 5px;
    border-radius: 10px 10px 0px 0px;
    transform: translateY(-66px);
    background: white;
}

.my-card {
    margin: auto
}

.table-now tr {
    transition: 0.3s;
}

.table-now tr:hover {
    background: rgba(0,0,0,0.2);
}


footer {
    display: flex;
    padding: 20px 0;
    justify-content: center;    
    margin-top: 10px;
}
footer p {
    padding: 0 5px;
}


.active-now {
    background: #00C853!important;
    color: white!important;
}